services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - '5678:5678'
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin123
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
      - N8N_CUSTOM_EXTENSIONS=/home/node/.n8n/custom
    volumes:
      - n8n_data:/home/node/.n8n
      # Set N8N_DIRECTUS_DIST in your .env file to the path of your n8n-directus/dist directory
      - ${N8N_DIRECTUS_DIST}:/home/node/.n8n/custom/nodes/@directus/n8n-nodes-directus

volumes:
  n8n_data:
